---
import type { CollectionEntry } from "astro:content";
import Text from "@/components/Text";
import { Image } from "astro:assets";

import khmerBlog from "src/assets/pictures/khmerblog.png";
import { ExternalLink } from "lucide-react";
import { slugify } from "@/lib/utils";


interface Props {
  projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;
---

<section
  class="text-foreground grow h-full rounded-md"
  aria-label="Open Source Chronicles"
>
  <Text variant="subheading" className="mb-6" id="open-source-chronicles"
    >Open Source Chronicles</Text
  >
  <div class="space-y-6 text-pretty">
    <Text variant="paragraph">
      Jack into their open-source contributions, each project a chapter in the
      ever-evolving story of our digital realm.
    </Text>

    {
      projects.map((project) => (
        <article class="project">
          {project.data.media.map((media) => (
            <div class="media">
              {media.type === "video" ? (
                <video muted autoplay loop class="rounded-lg">
                  <source src={media.src} type="video/mp4" />
                </video>
              ) : (
                <Image
                  src={media.src}
                  alt={media.alt}
                  loading="lazy"
                  quality="high"
                  format="webp"
                />
              )}
            </div>
          ))}
          <div class="sticky-content">
            <Text
              variant="title"
              className="text-neon-pink  scroll-m-20 text-xl font-semibold tracking-tight  flex flex-row items-center gap-2"
              id={slugify(project.title)}
              className="text-neon-pink scroll-m-20 text-xl font-semibold tracking-tight flex flex-row items-center gap-2"
            >
              <a
                class="hover:underline nav-link"
                href={project.data.link}
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Open project in new tab"
              >
                {project.data.title}
              </a>
            </Text>

            <Text variant="body">{project.data.description}</Text>
          </div>
        </article>
      ))
    }
  </div>
</section>
