---
// Layout.astro
import Footer from "@/components/Footer.astro";
import { normalizeUrl } from "@/lib/route";
import Navbar from "@/components/Navbar.astro";

import "@/styles/globals.css";
import { ViewTransitions } from "astro:transitions";

import TableOfContents from "@/components/TableOfContents";

interface Props {
  title: string;
  description?: string;
  image?: string;
  canonicalURL?: string;
  type?: "website" | "article";
  siteTitle?: string;
  author?: string;
  authorUrl?: string;
}

const {
  title,
  description = "Meet Ave Aristov, a netrunner exploring the vast expanse of cyberspace.",
  image = "https://www.avearis.com/avearistov.jpg",
  canonicalURL = normalizeUrl(new URL(Astro.url.pathname, Astro.site).href),
  type = "website",
  siteTitle = "Ave Aristov",
  author = "Ave Aristov",
  authorUrl = "https://www.avearis.com",
} = Astro.props;

const jsonLd = {
  "@context": "https://schema.org",
  "@type": type,
  name: author,
  url: authorUrl,
  image: image,
  sameAs: [
    "mailto:chantepkik@gmail.com",
    "https://www.facebook.com/Jakcrovat.Micasa/",
    "https://github.com/avevotsira",
    "https://discordapp.com/users/287134296811110402",
  ],
  jobTitle: "Software Developer",
  description: description,
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content={author} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />

    <title>{title} | {siteTitle}</title>

    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph (OG) Meta Tags for social media sharing -->
    <meta property="og:title" content={`${title} | ${siteTitle}`} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content={type} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content={new URL(image, Astro.url)} />
    <meta property="og:site_name" content={siteTitle} />

    <!-- Twitter Card Meta Tags for Twitter sharing -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={`${title} | ${siteTitle}`} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={new URL(image, Astro.url)} />
    <meta name="twitter:creator" content={author} />

    <!-- JSON-LD for structured data (helps with SEO) -->
    <script
      is:inline
      type="application/ld+json"
      set:html={JSON.stringify(jsonLd)}
    />

    <!-- Umami Analytics Script -->
    <script
      is:inline
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="4d43a4d9-7ad6-4c70-b797-4c0036797c0e"></script>

    <slot name="head" />

    <ViewTransitions />
  </head>

  <body class="min-h-screen">
    <header class="sticky top-0 z-50">
      <Navbar />
    </header>

    <slot />
    <Footer />
  </body>
</html>
